API_ID=2040
API_HASH=b18441a1ff607e10a989891a5462e627
BOT_TOKEN=8854487160:AAEd-tDLjz1NBvMuNDYERsFS6BuZYqqVOoA
ADMIN_ID=7767354117
CHANNEL_LOG=-1001234567890
AI_API_KEY=sk-9dojbkTnXYiNvKho0qLmGY8Xwkve6ptNlqC2mLhdvLLZTWFB
AI_BASE_URL=https://apihub.agnes-ai.com/v1
AI_MODEL=agnes-2.5-flash
